/*EGEN CSS*/
/*Försök använda så lite egen CSS som möjligt, och istället 
använda Bootstraps inbyggda klasser */

/*EBDEBB- ljus gul, header och footer*/
/*BED4DD- ljus blå, bakgrundsfärg*/

.background {
    background-color: #BED4DD;
}

/*Gör så att hela sidan täcker hela skärmens höjd */
html, body {
    height: 100%;
    margin: 0;
}
/*Sätt upp bodyn som en vertikal stapel, Header-> Main-> Footer */
body {
    display: flex;
    flex-direction: column;
}
/*Säg till main-taggen att växa och ta upp allt ledigt utrymme,
Knuffa ned footern */
main {
    flex: 1;
}

/* Ger alla rubriker lite luft nedåt */
h1, h2, h3 {
    margin-bottom: 1.5rem;
    color: #333;
}

/* Gör att tabeller inte ser så trånga ut */
.table {
    margin-top: 20px;
    background-color:#ffffff;
}

/* Mjukare känsla på dina knappar */
.btn {
    border-radius: 8px;
    padding: 10px 20px;
}